body {
  text-align:center;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

#one {
  text-decoration:none;
  position:relative;
  margin-top:10%;
  background:#fff;
  border:3px solid #055388;
  padding:20px;
  font-size:0.9em;
  color:white;
 
  font-family: 'Open Sans', sans-serif;
  color: #055388;
  font-weight:600;
  letter-spacing:5px;
  text-transform:uppercase;
  border-radius: 5px;
  
}

#one:hover {
  bottom:4px;
   box-shadow:0px 2px 0px 0px #055388;
  transition: all .01s ease-in-out;
  -moz-transition: all .01s ease-in-out;
  -webkit-transition: all .01s ease-in-out;
}

#one:active {
  top:4px;
  box-shadow:inset 0px 2px 0px 0px #055388;
  transition: all .01s ease-in-out;
  -moz-transition: all .01s ease-in-out;
  -webkit-transition: all .01s ease-in-out;
  
  /*bottom:0px;
   box-shadow:0px 0px 0px 0px #055388;
  transition: all .01s ease-in-out;
  -moz-transition: all .01s ease-in-out;
  -webkit-transition: all .01s ease-in-out;*/
  
}
